In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
d1=pd.read_excel("dat.xlsx",sheet_name=1)
d1

,n,nu,mulI,I,muV,V,Unnamed: 6,k,1/k^2,nu^2
0,0,22.5,0.001,473,1.0,0.1540,NaN,6.844444,0.021346,506.25
1,1,28.5,0.001,470,NaN,0.1910,NaN,6.701754,0.022265,812.25
2,2,34.5,0.001,466,NaN,0.2300,NaN,6.666667,0.022500,1190.25
3,3,40.5,0.001,461,NaN,0.2640,NaN,6.518519,0.023534,1640.25
4,4,46.5,0.001,458,NaN,0.3010,NaN,6.473118,0.023866,2162.25
5,5,52.5,0.001,456,NaN,0.3320,NaN,6.323810,0.025006,2756.25
6,6,58.5,0.001,447,NaN,0.3600,NaN,6.153846,0.026406,3422.25
7,7,64.5,0.001,442,NaN,0.3930,NaN,6.093023,0.026936,4160.25
8,8,70.5,0.001,440,NaN,0.4180,NaN,5.929078,0.028446,4970.25
9,9,76.5,0.001,438,NaN,0.4450,NaN,5.816993,0.029553,5852.25
10,10,82.5,0.001,434,NaN,0.4680,NaN,5.672727,0.031075,6806.25
11,11,88.5,0.001,429,NaN,0.4910,NaN,5.548023,0.032488,7832.25
12,12,94.5,0.001,423,NaN,0.5080,NaN,5.375661,0.034605,8930.25
13,13,100.5,0.001,420,NaN,0.5290,NaN,5.263682,0.036093,10100.25
14,14,106.5,0.001,416,NaN,0.5455,NaN,5.122066,0.038116,11342.25
15,15,112.5,0.001,410,NaN,0.5600,NaN,4.977778,0.040358,12656.25

In [7]:
nu1=d1.nu
I1=d1.I*d1.mulI
V1=d1.V

0     0.473
1     0.470
2     0.466
3     0.461
4     0.458
5     0.456
6     0.447
7     0.442
8     0.440
9     0.438
10    0.434
11    0.429
12    0.423
13    0.420
14    0.416
15    0.410
dtype: float64